exportPattern("^[[:alpha:]]+")
import(MALDIquant)
import(MALDIquantForeign)
import(caret)
import(e1071)
import(stats)
import(pROC)
import(nnet)
import(kernlab)
import(MASS)
import(klaR)
import(pls)
import(randomForest)
import(lda)
import(SparseM)
import(stringi)
import(tcltk)
import(parallel)
import(foreach)
import(XML)
import(doParallel)
